# Android Studio
# .gradle
# .idea/
# /*/local.properties
# /*/out
# /*/*/build
# /build
# build/
# /*/*/production
# *.iml
# *~
# .navigation
# output.json

.ipynb_checkpoints
/*/.ipynb_checkpoints
/*/*/.ipynb_checkpoints
/*/*/*/.ipynb_checkpoints
/*/*/*/*/.ipynb_checkpoints

config.yaml
/*/config.yaml
/*/*/config.yaml
/*/*/*/config.yaml
/*/*/*/*/config.yaml

.idea
/*/.idea
/*/*/.idea
/*/*/*/.idea
/*/*/*/*/.idea

venv
/*/venv
/*/*/venv
/*/*/*/venv
/*/*/*/*/venv

_pycache
/*/_pycache
/*/*/_pycache
/*/*/*/_pycache
/*/*/*/*/_pycache






